<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title — приложение ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css", "~/Content/bootstrap.min.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui")
        @Scripts.Render("~/Scripts/angular.min.js","~/Scripts/angular-route.min.js","~/Scripts/q.min.js",
                        "~/Scripts/breeze.min.js", "~/Scripts/breeze.bridge.angular.js",
                        "~/Scripts/jquery.signalR-2.2.0.min.js",
                        "/signalr/hubs",
                        "~/Scripts/bootstrap.min.js",
                        "~/Scripts/angular-ui/ui-bootstrap-tpls.min.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
